<div class="row">
  <div id="patientFilterEl" class="w-100"></div>
</div>
<div class="row position-relative">
  <div id="patientSearchEl" class="w-100"></div>
  <div id="patientTableEl" class="w-100"></div>
  <div id="patientModalEl" class="w-100"></div>
</div>
